:root {
  --bg-color: white;
  --primary-color: rgb(255, 201, 201);
  --secondary-color: #eef4ae;
  --third-color: #bcf7bc;
  --accent-color: #a2a8ed;
  --secondary-accent-color: #e17dc2;
  --third-accent-color: #dccfff;
}

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-accent-color);
  margin-top: 10px;
  font-weight: 600;
}

a:hover{
  color: grey;
}

h1{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 15px;
}

h3{
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

p{
  color: darkslategray;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

ul li {
  font-size: 21px;
  display: inline-block;
  margin-right: 1%;
}

main {
  flex:content;
  padding: 5px;
  margin-top: 8%;
}

section {
  margin-bottom: 10%;
}

footer {
  color: var(--accent-color);
  background-color: var(--accent-color);
  padding: 1% 0;
  text-align: center;
  font-size: 15px;
}

.header{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 8px;
  /* background-color: var(--third-accent-color); */
}

.navbar {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}

.nav-links{
  text-decoration: none;
  width: 34vw;
}

.nav-links ul{  
  margin-right: 0;
  color: var(--accent-color);
  list-style-type: none;
  margin-top: 15px;
  text-align: right;
}

.nav-links ul li{
  display:inline-block;
  border-right: 1px solid #bbb;
}

.nav-links li a {
  display: block;
  padding: 14px 16px;
}

.banner{
  background-image: url('https://www.shutterstock.com/image-illustration/coding-programming-developing-typing-script-600nw-2258898245.jpg');
  background-color: rgba(1, 1, 38, 0.674);
  background-blend-mode: overlay;
  color: white;
  margin: 6.5vh auto;
  text-align: center;
  height: 200px;
}

.banner h1{
  font-size: 40px;
}

.banner h2{
  font-size: 20px;
}

.bio{
  margin: 50px;
}

.bio p{
  font-size: 22px;
}

.perfil {
  display: flex;
  justify-content: center;
}

.perfil img{
  border-radius: 50%;
  width: 18rem;
  border: 3px solid black;
}

.card-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-container p{
  font-style: italic;
}

.card {
  background-color: var(--third-color);
  border: 1px solid var(--primary-color);
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  padding: 2%;
  /* width: clamp(320px, calc(35% + 2vw), 70%); */
  width: 30vw;
  height: 48vh;
  overflow: auto;
  border-radius: 15%;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

.card i{
  padding:5%;
  font-size: 2rem;
  color: var(--secondary-accent-color);
}

.card a{
  font-size: 1.5rem;
}

.card p{
  font-size: 1rem;
}

.portfolio, .section-skills{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3%;
  padding: 1%;
  width: 70vw;

}

.skill {
  width: 200px;
  margin: auto;
  text-align: center;
  border-right: 1px solid #ccc;
  padding-bottom: 10px;
  align-items: center;
}

.skillImg {
  width: 70px;
  margin: auto;
  height: auto;
  align-items: center;
}

.cursos{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.cursos div{
  margin: 5px;
} 

.cursos p{
  margin: auto;
  font-size: larger;
}

.input{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: left;
  margin-bottom: 15px;
}

.input label{
  margin-right: 20px;
}

.input input,
.input textarea{
flex-grow: 1;
padding: 8px;
font-size: 16px;
width: 1000px;
}

.input textarea{
  height: 140px;
}

.btn-enviar {
  font-size: 20px;
  background-color: grey;
  color: yellow;
  border: 2px solid var(--secondary-accent-color) ;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-enviar:hover{
  background-color: var(--third-color);
}

.btn-jugar {
  font-size: 20px;
  background-color: grey;
  color: yellow;
  border: 2px solid var(--secondary-accent-color) ;
  padding: 8px;
  margin: 3px 120px;
  cursor: pointer;
  border-radius: 10%;
}

.btn-jugar:hover{
  background-color: var(--accent-color);
}

.info{
  margin-top: 5px;
  padding: 5px;
  font-size: 50px;
}

.info h2{
  font-size: 20px;
}

.container-footer {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
}

.container-footer img{
  display: flex;
  width: 20px;
  margin: auto;
  height: auto;
  cursor: pointer;
}

#Contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contacto label{
  font-family: 'Courier New', monospace;
  font-size: 16px;
  margin: 10px;
}

#logo {
  margin:15px;
}
